<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body id="body">
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        <!--{{- partial "footer.html" . -}}-->
        <!-- JS Plugins -->
        {{ range site.Params.plugins.js}}
        <script src="{{ .link | absURL }}"></script>
        {{ end }}

        <!-- Main Script -->
        {{ $script := resources.Get "js/script.js" }}
        <script src="{{ $script.Permalink }}"></script>
    </body>
</html>
